li:hover {
    background-color: #e8f0fe;
}

#title {
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    padding-left: 0px;
}

/* .desc {
    display: none;
    font-size:14px;
    text-justify: inter-word;
    text-align: justify;
} */

.summ {
    display: none;
    font-size:14px;
    text-justify: inter-word;
    text-align: justify;
}

.published {
    font-size: 10px;
    color:darkslategray;
    text-decoration: none;
    margin-top: 10px;
}

#img-card {
    max-width: 300px;
    max-height: 300px;
    /* float: left; */
    width: auto;
    height: auto;
    padding:1rem;
}

.btn {
    margin-top: 1rem;
}
