li:hover {
    background-color: #e8f0fe;
}

.title {
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.desc {
    display: none;
    font-size:14px;
    text-justify: inter-word;
    text-align: justify;
}

.published {
    font-size: 12px;
    color:darkslategray;
}

.img-card {
    max-width: 300px;
    max-height: 300px;
    float: left;
    width: auto;
    height: auto;
    padding: 3px 10px;
}